$mainColor: #6f2a8e;
$secondaryColor: #275ea7;
$FontColor: #2c3fc0;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-fluid {
  padding: 0 !important;
  .LoginContainer {
    width: 80%;
    background: #fff;
    margin: 5rem auto;
    padding: 3rem 2.5rem !important;
    box-shadow: 15px 15px 16.83px rgba(0, 0, 0, 0.05),
      -15px -15px 16.83px rgba(0, 0, 0, 0.05);
    border-radius: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .LoginDetailes {
      width: 40%;
      .Img {
        width: 80%;
        height: 80%;
      }
    }
    .LoginForm {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: left;
      border: none;
      background: linear-gradient(180deg, #becee4 0%, #2c3fc0 90%);
      padding: 0.2rem 0.25rem;
      border-radius: 1rem;
      .login-form {
        padding-top: 2rem;
        .Input {
          position: relative;
          i {
            position: absolute;
            padding-left: 10px;
            top: 35%;
            left: 2px;
            font-size: 1rem;
          }
        }
        .form-group {
          .Field[name="email"],
          .Field[name="password"] {
            background-color: #b3c9e9;
            padding-left: 30px !important;
            padding-right: 0 !important;
            width: 90% !important;
            margin-top: 2.5rem !important;
          }
          .Feled {
            padding: 1.5rem !important;
            border: none;
            outline: none;
          }
        }
        .form-button {
          .Button {
            background-color: #b1ddff;
            width: 30%;
            margin: 1rem;
            padding: 5px 5px;
            border-radius: 10px;
            outline: none;
            border: none;
            font-weight: 200;
            color: #333;
          }
          .Button:hover {
            background-color: #fff;
            color: #333;
          }
        }
      }
    }
    .titleForm {
      text-align: center;
      color: $FontColor;
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
  .container-fluid {
    .LoginContainer {
      width: 75%;
      display: block;
      .LoginDetailes {
        align-items: center;
        width: 90%;
      }
      .LoginForm {
        width: 97.5%;
      }
    }
  }
}
