.team-container {
  position: relative;
  width: 25%;
}
.Scroll-Team-Container {
  overflow-x: auto;
}
.TeamMember-Container {
  display: flex;
  flex-wrap: wrap;
  width: 80rem;

  margin: 0.5rem auto 10rem auto;
}

.image {
  display: inline-block;
  width: 75%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 12%;
  right: 0;
  background-color: #dadada;
  overflow: hidden;
  width: 76%;
  height: 0;
  transition: 0.5s ease;
}

.team-container:hover .overlay {
  height: 100%;
}

.overlay-header {
  /* padding-right: 3.5rem; */
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
